<%- include('header'); -%>

    <div class="box" id="heading">
        <h1> <%=kind%> </h1>
    </div>
   
    <div class="box">

       <% newLinesItem.forEach(function(item){%>
        <form action="/delete" method="POST">
        <div class="item">
            <input type="checkbox" name="check" value="<%=item._id%>" onChange="this.form.submit()">
            <p><%= item.name%> </p>
        </div>
        <input type="hidden" name="hidenList" value="<%=kind%>"></input>
        </form>
        <%})%>

          <form class="item" action="/" method="post">
            <input type="text" name="addList" placeholder="New Item" autocomplete="off" >
            <button type="submit" name="list" value="<%=kind%>">+</button>
            </form>

    </div>
    <%- include('footer'); -%>
    
    
   
        
